.list a{
    padding-left: 8px;
    padding-top: 6px;
    font-size: 10px;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #938989;
    float: left;
    height: 22px;
    width: 93px
}

.list a:hover, .repeat a:hover {
    color: #fe4e5b;
    text-decoration: none;
}

.list a:hover div{
    background-position: 0px -8px
}

.icon {
    background: url("../css/images/icns.png") repeat scroll left top transparent; 
    width: 8px;
    height: 8px;
    margin-top: 5px;
    float: left;
    margin-right: 5px;
}

.repeat a{
    padding-right: 8px;
    padding-top: 6px;
    font-size: 10px;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #938989;
    float: right;
    height: 22px;
}

.span4.repeat {
    float: right
}

.icon.repeat {
    background: url("../css/images/icns.png") repeat scroll -8px 0px transparent; 
    width: 9px;
    height: 8px;
    margin-top: 5px;
    float: left;
    margin-right: 5px;
}

.icon.time {
    background: url("../css/images/icns.png") repeat scroll -17px 0px transparent; 
    width: 12px;
    height: 12px;
    margin-top: 4px;
    float: left;
    margin-right: 2px;
}

.repeat a:hover div{
    background-position: -8px -8px
}


.news_blok {
    background-color: #f1f3f2;
    padding: 7px 8px;
}

.topwhite {
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.topwhite p {
    font-size: 10px;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #929292;
}

.logo {
    text-align: center;
    height: 39px;
}

.logo img {
    vertical-align: baseline;
}

.logocolor{
    background-color: #fe4e5b;
    position: fixed;
    z-index: 2;
}

.topmenu {
    background-color: #d9dbda;
    background-color: #d9dbda;
    height: 24px;
    border-top: 1px solid #f0424f;
    border-bottom: 1px solid #f5f6f6;
}

.span12 .news_blok .topwhite {
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 600px;
    float: none;
}

.line {
    border-bottom: 1px solid #f1f3f2;
    margin: 0 7px;
    height: 1px;
}

.topwhite h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #fe4e5b;
    padding-top: 4px;
    height: 30px;
}

.text p {
    font-size: 11px;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #525c62;
    font-weight: 400;
    line-height: 13px;
    margin: 4px 0px 4px 0px;
}

.text {
    padding: 0px 7px;
}

.group_name{
    padding-left: 14px;
}

.sepdate {
    background-color: #f1f3f2;  
    padding-top: 4px;
    margin: 0 auto -6px;
}

.sepdate:first-child {
    display: none;
}

.sepdate p{
    text-align: center;
    font-size: 12px;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #949b9f;
    margin: 0 auto;
    width: 80px;
    height: 17px;
    background-color: #f1f3f2;
    position: relative;
    margin-bottom: -9px;
}

.sepdateline {
    background-color: #e1e3e2;
    height: 2px;
    max-width: 600px;
    margin: 0 auto
}

img.largeimage {
    width: 100%;
    height: 100%;
    padding: 0px
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}



/*------------------------------------------------*/


.event_form {
    margin: 0 auto;
}

.event_form, .event_form div {
    max-width: 600px;
}

.buttons {
    padding: 0 14px 0 14px;
}

.button-like, .button-igo, .button-source {
    height: 27px;
    float: left;
    background-color: #fff;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.like{
    background: url("../css/images/icns.png") repeat scroll -17px -16px transparent; 
    width: 14px;
    height: 12px;
    margin: 9px 7px;
    float: left;
}

p.likecoun {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 800;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #646a6e;
    margin: 5px 7px 0px -4px;
}


a:hover .like {
    background-position: -17px -28px;
    width: 14px;
    height: 12px;
}

.button-igo{
    margin-left: 7px;
}

.button-igo p{
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 800;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #646a6e;
    margin: 5px 7px 0px -4px;
}

.igo{
    background: url("../css/images/icns.png") repeat scroll 0px -42px transparent; 
    width: 14px;
    height: 11px;
    margin: 9px 7px;
    float: left;
}

a:hover .igo {
    background-position: -17px -42px;
    width: 14px;
    height: 12px;
}

a:hover p {
    color: #fe4e5b
}


.button-source{
    float: right;
}

.button-source p{
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 800;
    font-family: HelveticaNeue, HelveticaNeueCyr;
    color: #646a6e;
    margin: 5px 7px 0px -4px;
}

.source{
    background: url("../css/images/icns.png") repeat scroll 0px -53px transparent; 
    width: 19px;
    height: 11px;
    margin: 9px 7px;
    float: left;
}

a:hover .source {
    background-position: 0px -64px;
    width: 19px;
    height: 11px;
}

.container     { 
    position: relative; 
    overflow: hidden; 
    width: 74px;
    height: 51px;
    margin: 7px 9px 7px 7px;
    float: left;
    /*background: url("../images/bg.png") repeat scroll 0px 0px transparent; */
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.container img { 
    position: absolute; 
}
